 <!-- CARD 1: COUNTER DAY -->
<main class="card">
  <div>
    <div class="counter-title">
      {{counterName}}
    </div>

    <div class="percentage">
      {{ counterResult.percentage?.toFixed(decimalPrecission) }}%
    </div>

    <div class="progress-container">
      <div class="progress-bar"
           [style.width.%]="counterResult.percentage">
      </div>
    </div>
  </div>

  <div>
    <div class="dates">
      <div class="date">
        <span class="label">START</span>
        <span class="value">{{ counterResult.startDate }}</span>
      </div>

      <div class="divider"></div>

      <div class="date">
        <span class="label">LAST UPDATED</span>
        <span class="value">{{ counterResult.currentDate }}</span>
      </div>

      <div class="divider"></div>

      <div class="date">
        <span class="label">END</span>
        <span class="value">{{ counterResult.endDate }}</span>
      </div>
    </div>

    <div class="footer">
      {{ (100 - counterResult.percentage).toFixed(decimalPrecission) }}% remaining
    </div>
  </div>
</main>
